.myWorks {
 background-color: bisque;
    min-height: 100vh;
}

.myWorksContainer {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.titleBlock {
    height: 100px;
}

.myWorksTitle {
    background-color: gray;
}

.worksContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}


.workBlock {
    width: 280px;
    background-color: gray;
}

.imageBlock {
    width: 100%;
    background-color: white;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
}

.textBlock {
  padding: 8px;
}

.workTitle {
    background-color: aquamarine;
}

.workDescription {
    background-color: aquamarine;
}