.contactsBlock {
    background-color: aquamarine;
    min-height: 100vh;
}

.contactsContainer {
    flex-direction: column;
}

.title {
    background-color: gray;
}

.contactsFormBlock {
    width: 270px;
    background-color: gray;
    box-sizing: border-box;
    padding: 7px;
}

.contactsForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}