.contactsBlock {
    background-color: aquamarine;
}

.contactsContainer {
    flex-direction: column;
}

.title {

}

.button {

}

.contactsForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;
}