.remoteWorkBlock {
 background-color: gray;
}

.remoteWorkContainer {
    text-align: center;
    flex-direction: column;
    height: 300px;
}

.title {
    background-color: aquamarine;
}

.button{

}